
body{
  position: relative;
  margin: 0;
  
}
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  padding: 5%;
}

footer div a:hover {
  transform: scaled(3.0);
  transition: .2s;
  color: rgba(25, 168, 173, 0.612)
}
p{
  margin: 10%;
  
}
.divvehiculos2{
  display: flex;
  justify-content: flex-start;
  margin: 5%;
  }

.divvehiculos{
  display: flex;
  justify-content: flex-end;
  margin: 5%;
  
}


.sect {
  width: 100%;
  
  min-height: 250px;
  color: white;
  
}

#sect1 {
  
  overflow: hidden;
}

video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
h1 {
  margin: 0;
  padding-top: 3rem;
  padding-left: 2rem;
}


.imagebox {
    background: black;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .imagebox img {
    opacity: 1;
    transition: 0.5s opacity;
  }
  
  .imagebox .imagebox-desc {
    background-color: rgba(15, 168, 228, 0.6);
    bottom: 0px;
    color: white;
    font-size: 1.2em;
    left: 0px;
    padding: 10px 15px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 100%;
  }
  
  .imagebox:hover img {
    opacity: 0.7;
  }
  
  .imagebox:hover .imagebox-desc {
    padding-bottom: 10%;
  }

.g-col-6 {
  display: flex;
  flex-direction: row;
  position: relative;
  
}

.autos {
  margin: 5%;
}